HotelReservationSystem/HolidayReservationSystem/xml-resources/web-service-references/HoRSWebService/wsdl/pereirabeastypc_8080/HoRSWebService/HoRSWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="HoRSWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://pereirabeastypc:8080/HoRSWebService/HoRSWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="viewPartnerReservationDetails">
<part name="parameters" element="tns:viewPartnerReservationDetails"/>
</message>
<message name="viewPartnerReservationDetailsResponse">
<part name="parameters" element="tns:viewPartnerReservationDetailsResponse"/>
</message>
<message name="PartnerNotFoundException">
<part name="fault" element="tns:PartnerNotFoundException"/>
</message>
<message name="NoReservationFoundException">
<part name="fault" element="tns:NoReservationFoundException"/>
</message>
<message name="partnerReserveRoom">
<part name="parameters" element="tns:partnerReserveRoom"/>
</message>
<message name="partnerReserveRoomResponse">
<part name="parameters" element="tns:partnerReserveRoomResponse"/>
</message>
<message name="partnerSearchRoom">
<part name="parameters" element="tns:partnerSearchRoom"/>
</message>
<message name="partnerSearchRoomResponse">
<part name="parameters" element="tns:partnerSearchRoomResponse"/>
</message>
<message name="getAvailableRoomTypes">
<part name="parameters" element="tns:getAvailableRoomTypes"/>
</message>
<message name="getAvailableRoomTypesResponse">
<part name="parameters" element="tns:getAvailableRoomTypesResponse"/>
</message>
<message name="viewAllPartnerReservations">
<part name="parameters" element="tns:viewAllPartnerReservations"/>
</message>
<message name="viewAllPartnerReservationsResponse">
<part name="parameters" element="tns:viewAllPartnerReservationsResponse"/>
</message>
<message name="calculateTotalPrice">
<part name="parameters" element="tns:calculateTotalPrice"/>
</message>
<message name="calculateTotalPriceResponse">
<part name="parameters" element="tns:calculateTotalPriceResponse"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<portType name="HoRSWebService">
<operation name="viewPartnerReservationDetails">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/viewPartnerReservationDetailsRequest" message="tns:viewPartnerReservationDetails"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/viewPartnerReservationDetailsResponse" message="tns:viewPartnerReservationDetailsResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/HoRSWebService/viewPartnerReservationDetails/Fault/PartnerNotFoundException"/>
<fault message="tns:NoReservationFoundException" name="NoReservationFoundException" wsam:Action="http://ws.session.ejb/HoRSWebService/viewPartnerReservationDetails/Fault/NoReservationFoundException"/>
</operation>
<operation name="partnerReserveRoom">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/partnerReserveRoomRequest" message="tns:partnerReserveRoom"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/partnerReserveRoomResponse" message="tns:partnerReserveRoomResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/HoRSWebService/partnerReserveRoom/Fault/PartnerNotFoundException"/>
</operation>
<operation name="partnerSearchRoom">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/partnerSearchRoomRequest" message="tns:partnerSearchRoom"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/partnerSearchRoomResponse" message="tns:partnerSearchRoomResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/HoRSWebService/partnerSearchRoom/Fault/PartnerNotFoundException"/>
</operation>
<operation name="getAvailableRoomTypes">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/getAvailableRoomTypesRequest" message="tns:getAvailableRoomTypes"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/getAvailableRoomTypesResponse" message="tns:getAvailableRoomTypesResponse"/>
</operation>
<operation name="viewAllPartnerReservations">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/viewAllPartnerReservationsRequest" message="tns:viewAllPartnerReservations"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/viewAllPartnerReservationsResponse" message="tns:viewAllPartnerReservationsResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/HoRSWebService/viewAllPartnerReservations/Fault/PartnerNotFoundException"/>
<fault message="tns:NoReservationFoundException" name="NoReservationFoundException" wsam:Action="http://ws.session.ejb/HoRSWebService/viewAllPartnerReservations/Fault/NoReservationFoundException"/>
</operation>
<operation name="calculateTotalPrice">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/calculateTotalPriceRequest" message="tns:calculateTotalPrice"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/calculateTotalPriceResponse" message="tns:calculateTotalPriceResponse"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/HoRSWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/HoRSWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:PartnerNotFoundException" name="PartnerNotFoundException" wsam:Action="http://ws.session.ejb/HoRSWebService/partnerLogin/Fault/PartnerNotFoundException"/>
</operation>
</portType>
<binding name="HoRSWebServicePortBinding" type="tns:HoRSWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="viewPartnerReservationDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
<fault name="NoReservationFoundException">
<soap:fault name="NoReservationFoundException" use="literal"/>
</fault>
</operation>
<operation name="partnerReserveRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="partnerSearchRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getAvailableRoomTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewAllPartnerReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
<fault name="NoReservationFoundException">
<soap:fault name="NoReservationFoundException" use="literal"/>
</fault>
</operation>
<operation name="calculateTotalPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PartnerNotFoundException">
<soap:fault name="PartnerNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="HoRSWebService">
<port name="HoRSWebServicePort" binding="tns:HoRSWebServicePortBinding">
<soap:address location="http://pereirabeastypc:8080/HoRSWebService/HoRSWebService"/>
</port>
</service>
</definitions>